<a href="https://colab.research.google.com/github/james-choi-k/restaurant/blob/main/untitled17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

import numpy
import pandas as pd

df = pd.read_csv("/content/drive/MyDrive/SVM_report/diabetes.csv") #구글 드라이브 내에 있는 파일을 불러옴
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [ ]:
from sklearn.model_selection import train_test_split

#80%는 학습 데이터, 20%는 테스트 데이터로 분리
train, test = train_test_split(df, test_size=0.2)

#학습 데이터, 테스트 데이터 개수 확인
print(train.shape[0])
print(test.shape[0])
#테스트 데이터 학습 데이터 확인 
print(train)
print(test)

614
154
     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
28            13      145             82             19      110  22.2
305            2      120             76             37      105  39.7
724            1      111             94              0        0  32.8
110            3      171             72             33      135  33.3
238            9      164             84             21        0  30.8
..           ...      ...            ...            ...      ...   ...
416            1       97             68             21        0  27.2
643            4       90              0              0        0  28.0
693            7      129             68             49      125  38.5
26             7      147             76              0        0  39.4
467            0       97             64             36      100  36.8

     DiabetesPedigreeFunction  Age  Outcome
28                      0.245   57        0
305                     0.215   29        0
724                     0.265   45        0
110                     0.199   24        1
238                     0.831   32        1
..                        ...  ...      ...
416                     1.095   22        0
643                     0.610   31        0
693                     0.439   43        1
26                      0.257   43        1
467                     0.600   25        0

[614 rows x 9 columns]
     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
75             1        0             48             20        0  24.7
463            5       88             78             30        0  27.6
45             0      180             66             39        0  42.0
556            1       97             70             40        0  38.1
538            0      127             80             37      210  36.3
..           ...      ...            ...            ...      ...   ...
666            4      145             82             18        0  32.5
286            5      155             84             44      545  38.7
506            0      180             90             26       90  36.5
322            0      124             70             20        0  27.4
57             0      100             88             60      110  46.8

     DiabetesPedigreeFunction  Age  Outcome
75                      0.140   22        0
463                     0.258   37        0
45                      1.893   25        1
556                     0.218   30        0
538                     0.804   23        0
..                        ...  ...      ...
666                     0.235   70        1
286                     0.619   34        0
506                     0.314   35        1
322                     0.254   36        1
57                      0.962   31        0

[154 rows x 9 columns]

In [ ]:
from sklearn.model_selection import GridSearchCV # 그리드 서치 사용
from sklearn.metrics import classification_report, accuracy_score # 분류 실행 결과 report를 보여주는 classification_report, 정확도 점수(accuracy_score)
from sklearn.svm import SVC # SVM 모델
import numpy as np

def svc_param_selection(X, y, nfolds): #nfolds는 교차 검증 수를 의미한다
  svm_parameters = [
                    {'kernel' : ['rbf'],
                     'gamma' : [0.00001, 0.0001, 0.001, 0.01, 0.1, 1],
                    'C' : [0.01, 0.1, 1, 10, 100, 1000]}
  ]
  #사이킷런에서 제공하는 GridSearchCV를 사용해 최적의 파라미터를 구함
  clf = GridSearchCV(SVC(), svm_parameters, cv=nfolds, scoring='accuracy') # estimator, param_grid, cross-validation
  clf.fit(X_train, y_train.values.ravel())
  print(clf.best_params_) #최고 점수를 낸 파라미터 출력

  return clf

#글루코스 값과 당뇨병혈통기능을 학습 데이터로 사용
X_train = train[['Glucose', 'DiabetesPedigreeFunction']]

#결과값을 예측값으로 선정
y_train = train[['Outcome']]

#최적의 파라미터로 학습된 모델을 clf로 저장
clf = svc_param_selection(X_train, y_train.values.ravel(), 10)

{'C': 100, 'gamma': 0.001, 'kernel': 'rbf'}

In [ ]:
X_test = test[['Glucose', 'DiabetesPedigreeFunction']]
y_test = test[['Outcome']]

# 최적의 파라미터로 학습된 모델로 테스트를 진행
y_true, y_pred = y_test, clf.predict(X_test)

print(classification_report(y_true, y_pred))
print("accuracy :", str(accuracy_score(y_true, y_pred))) # 실제 값과 예측 값에 대한 정확도 점수

              precision    recall  f1-score   support

           0       0.68      0.89      0.77        94
           1       0.67      0.33      0.44        60

    accuracy                           0.68       154
   macro avg       0.67      0.61      0.61       154
weighted avg       0.67      0.68      0.64       154

accuracy : 0.6753246753246753

In [ ]:
comparison = pd.DataFrame({'prediction':y_pred,
                           'ground_truth':y_true.values.ravel()})
comparison

     prediction  ground_truth
0             0             0
1             0             0
2             1             1
3             0             0
4             0             0
..          ...           ...
149           0             1
150           1             0
151           1             1
152           0             1
153           0             0

[154 rows x 2 columns]